@import "bootstrap";

.app-shell-app {
	height: 100vh;
}
.app-shell-app > div {
	height: 100%;
}
.h-100 {
	height: 100%;
}
.mb-3 {
	text-align: center;
}

.dashboard {
	display: flex;
	flex-direction: column;
}
.charts {
	flex: 1;
}
.parent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	height: 100%;
}

.marquee {
	height: 50px;
	overflow: hidden;
	position: relative;
	background: #f7f7f7;
	color: #333;
	border: 1px solid #d2d2d2;
}

.marquee p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 2 / 1 / 3 / 2;
}
.div4 {
	grid-area: 2 / 2 / 3 / 3;
}
.div5 {
	grid-area: 1 / 3 / 3 / 4;
}
